fastapi
uvicorn[standard]
SQLAlchemy
SQLAlchemy-Utils
psycopg2-binary

pydantic
pydantic_core
email-validator
python-dotenv

requests
anyio
sniffio
typing_extensions
charset-normalizer
urllib3
certifi
idna
h11

Deprecated
wrapt

# Seguridad / opcional según tu backend
passlib[bcrypt]
python-jose

